<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History CBA</title>
</head>
<body>
    <center>
        <div><h1>History CBA</h1>
            <h2>Introduction</h2>
            <img src="{{ url_for('static', filename='India.jpg') }}">
            <p>Hi my name is {{ name }}, {{ text }}, {{ text2 }} </p>
        <p></p>
        </div>
    </center>
</body>
</html>